.frame3-container {
  min-height: 100vh;
}
.frame3-frame3 {
  width: 100%;
  height: 1234px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame3-httpswwwbinancecomenmywalletaccountpaymentsend {
  top: -6px;
  left: -1px;
  width: 422px;
  height: 609.6000366210938px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div-a-p-p {
  top: 0px;
  left: 0px;
  width: 422px;
  height: 609.6000366210938px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div {
  top: 0px;
  left: 0px;
  width: 422px;
  height: 786.2000122070312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div01 {
  top: 0px;
  left: 0px;
  width: 422px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-header {
  top: 0px;
  left: 0px;
  width: 422px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame3-svg {
  top: 20px;
  left: 16px;
  width: 120px;
  height: 24px;
  position: absolute;
}
.frame3-svg01 {
  top: 20px;
  left: 341.6000061035156px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.frame3-svg02 {
  top: 20px;
  left: 381.6000061035156px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.frame3-div02 {
  top: 64px;
  left: 0px;
  width: 422px;
  height: 722.2000122070312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div03 {
  top: 0px;
  left: 0px;
  width: 422px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(250, 250, 250, 1);
}
.frame3-div04 {
  top: 24px;
  left: 16px;
  width: 113px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-svg03 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.frame3-text {
  left: 56px;
  color: rgba(0, 0, 0, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div05 {
  top: 24px;
  left: 291.4624938964844px;
  width: 114px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-a {
  top: 0px;
  left: 0px;
  width: 74px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  background-color: rgba(234, 236, 239, 1);
}
.frame3-text02 {
  top: 6.8000030517578125px;
  left: 12px;
  color: rgba(30, 35, 41, 1);
  width: 50px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-svg04 {
  top: 4px;
  left: 90.13751220703125px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.frame3-div06 {
  top: 80px;
  left: 0px;
  width: 422px;
  height: 642.2000122070312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(250, 250, 250, 1);
}
.frame3-div07 {
  top: 0px;
  left: 0px;
  width: 422px;
  height: 642.2000122070312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 32px 32px 0 0;
  background-color: rgba(255, 255, 255, 1);
}
.frame3-div08 {
  top: 16px;
  left: 16px;
  width: 390px;
  height: 610.2000122070312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div09 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 116px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div10 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 84px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div11 {
  top: 0px;
  left: 0px;
  width: 78px;
  height: 84px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div12 {
  top: 8px;
  left: 18.424999237060547px;
  width: 41px;
  height: 68px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div13 {
  top: 20px;
  left: 8.525001525878906px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 24px;
  background-color: rgba(252, 213, 53, 1);
}
.frame3-text04 {
  top: 0.8000030517578125px;
  left: 7.662498474121094px;
  color: rgba(24, 26, 32, 1);
  width: 9px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-divafter {
  top: 12px;
  left: 32.000003814697266px;
  width: 9999px;
  height: 4px;
  position: absolute;
  border-color: transparent;
}
.frame3-text05 {
  top: 52px;
  color: rgba(30, 35, 41, 1);
  width: 41px;
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-divafter1 {
  top: 40px;
  left: 77.9124984741211px;
  width: 78px;
  height: 4px;
  position: absolute;
  border-color: transparent;
}
.frame3-div14 {
  top: 0px;
  left: 155.85000610351562px;
  width: 78px;
  height: 84px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div15 {
  top: 8px;
  left: 17.587493896484375px;
  width: 43px;
  height: 68px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div16 {
  top: 20px;
  left: 9.362503051757812px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 24px;
  background-color: rgba(252, 213, 53, 1);
}
.frame3-divbefore {
  top: 12px;
  left: -10007px;
  width: 9999px;
  height: 4px;
  position: absolute;
  border-color: transparent;
}
.frame3-text07 {
  top: 0.8000030517578125px;
  left: 7.662506103515625px;
  color: rgba(24, 26, 32, 1);
  width: 9px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-divafter2 {
  top: 12px;
  left: 32px;
  width: 9999px;
  height: 4px;
  position: absolute;
  border-color: transparent;
}
.frame3-text08 {
  top: 52px;
  color: rgba(30, 35, 41, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-divafter3 {
  top: 40px;
  left: 233.7624969482422px;
  width: 78px;
  height: 4px;
  position: absolute;
  border-color: transparent;
}
.frame3-div17 {
  top: 0px;
  left: 311.70001220703125px;
  width: 78px;
  height: 84px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div18 {
  top: 8px;
  left: 17.61248779296875px;
  width: 43px;
  height: 68px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div19 {
  top: 20px;
  left: 9.337493896484375px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 24px;
  background-color: rgba(234, 236, 239, 1);
}
.frame3-divbefore1 {
  top: 12px;
  left: -10007.0009765625px;
  width: 9999px;
  height: 4px;
  position: absolute;
  border-color: transparent;
}
.frame3-text10 {
  top: 0.8000030517578125px;
  left: 7.662506103515625px;
  color: rgba(112, 122, 138, 1);
  width: 9px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-text11 {
  top: 52px;
  color: rgba(112, 122, 138, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-form {
  top: 116px;
  left: 0px;
  width: 390px;
  height: 494.20001220703125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-text13 {
  left: 150.71250915527344px;
  color: rgba(0, 0, 0, 1);
  width: 88px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-text15 {
  top: 62.399993896484375px;
  color: rgba(71, 77, 87, 1);
  width: 48px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16.100000381469727px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div20 {
  top: 88.10000610351562px;
  left: 0px;
  width: 390px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  justify-content: center;
  background-color: rgba(250, 250, 250, 1);
}
.frame3-svg05 {
  top: 16px;
  left: 16px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.frame3-div21 {
  top: 160.10000610351562px;
  left: 0px;
  width: 390px;
  height: 246.10000610351562px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div22 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 70.0999984741211px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-text17 {
  top: -1.600006103515625px;
  color: rgba(71, 77, 87, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16.100000381469727px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div23 {
  top: 24.100006103515625px;
  left: 0px;
  width: 390px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 239, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
.frame3-div24 {
  top: 13px;
  left: 13px;
  width: 49px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-i-m-a-g-e87496d50240843e1ad4c78b47b448a6apng {
  top: 2px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: transparent;
}
.frame3-text19 {
  top: 0.79998779296875px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  width: 25px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-svg06 {
  top: 15px;
  left: 360.6000061035156px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.frame3-div25 {
  top: 110.10000610351562px;
  left: 0px;
  width: 390px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 239, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  justify-content: flex-start;
}
.frame3-text21 {
  top: 14.4000244140625px;
  left: 355.375px;
  color: rgba(0, 0, 0, 1);
  width: 25px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-text23 {
  top: -24.5999755859375px;
  left: 1px;
  color: rgba(71, 77, 87, 1);
  width: 50px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div26 {
  top: 198.10000610351562px;
  left: 0px;
  width: 390px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 239, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
.frame3-text25 {
  top: 14.4000244140625px;
  left: 351.9624938964844px;
  color: rgba(0, 0, 0, 1);
  width: 29px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-text27 {
  top: -24.5999755859375px;
  left: 1px;
  color: rgba(71, 77, 87, 1);
  width: 97px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div27 {
  top: 446.20001220703125px;
  left: 0px;
  width: 390px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-button {
  top: 0px;
  left: 0px;
  width: 191px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  background-color: rgba(234, 236, 239, 1);
}
.frame3-text29 {
  top: 12.79998779296875px;
  left: 45.01250076293945px;
  color: rgba(30, 35, 41, 1);
  width: 101px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-button1 {
  top: 0px;
  left: 198.8000030517578px;
  width: 191px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  background-color: rgba(252, 213, 53, 0.30000001192092896);
}
.frame3-text31 {
  top: 12.79998779296875px;
  left: 62.40000915527344px;
  color: rgba(24, 26, 32, 0.30000001192092896);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-footer {
  top: 786.2000122070312px;
  left: 0px;
  width: 422px;
  height: 463.3999938964844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame3-div28 {
  top: 24px;
  left: 0px;
  width: 422px;
  height: 439.3999938964844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div29 {
  top: 0px;
  left: 0px;
  width: 422px;
  height: 370.3999938964844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div30 {
  top: 0px;
  left: 16px;
  width: 390px;
  height: 212px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div31 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 127.20000457763672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div32 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 42.400001525878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-text33 {
  top: 10.4000244140625px;
  color: rgba(30, 35, 41, 1);
  width: 67px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div33 {
  top: 42.4000244140625px;
  left: 0px;
  width: 390px;
  height: 42.400001525878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-text35 {
  top: 10.39996337890625px;
  color: rgba(30, 35, 41, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div34 {
  top: 84.79998779296875px;
  left: 0px;
  width: 390px;
  height: 42.400001525878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-text37 {
  top: 10.4000244140625px;
  color: rgba(30, 35, 41, 1);
  width: 54px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div35 {
  top: 127.20001220703125px;
  left: 0px;
  width: 390px;
  height: 84.80000305175781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div36 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 42.400001525878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-text39 {
  top: 10.39996337890625px;
  color: rgba(30, 35, 41, 1);
  width: 59px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div37 {
  top: 42.39996337890625px;
  left: 0px;
  width: 390px;
  height: 42.400001525878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-text41 {
  top: 10.4000244140625px;
  color: rgba(30, 35, 41, 1);
  width: 41px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div38 {
  top: 212px;
  left: 16px;
  width: 390px;
  height: 134.40000915527344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-text43 {
  top: 10.39996337890625px;
  color: rgba(30, 35, 41, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div39 {
  top: 42.39996337890625px;
  left: 0px;
  width: 390px;
  height: 92px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-text45 {
  top: 396.20001220703125px;
  left: 161.5500030517578px;
  color: rgba(112, 122, 138, 1);
  width: 99px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-httpswwwbinancecomenmywalletaccountpaymentsend1 {
  top: 572px;
  left: -1px;
  width: 422px;
  height: 662.4000244140625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div-a-p-p1 {
  top: 0px;
  left: 0px;
  width: 422px;
  height: 662.4000244140625px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div40 {
  top: -576px;
  left: 0px;
  width: 422px;
  height: 786.2000122070312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div41 {
  top: 0px;
  left: 0px;
  width: 422px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-header1 {
  top: 0px;
  left: 0px;
  width: 422px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame3-div42 {
  top: 64px;
  left: 0px;
  width: 422px;
  height: 722.2000122070312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div43 {
  top: 0px;
  left: 0px;
  width: 422px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(250, 250, 250, 1);
}
.frame3-div44 {
  top: 24px;
  left: 16px;
  width: 113px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-text47 {
  left: 56px;
  color: rgba(0, 0, 0, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div45 {
  top: 24px;
  left: 291.4624938964844px;
  width: 114px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-a1 {
  top: 0px;
  left: 0px;
  width: 74px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  background-color: rgba(234, 236, 239, 1);
}
.frame3-text49 {
  top: 6.79998779296875px;
  left: 12px;
  color: rgba(30, 35, 41, 1);
  width: 50px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div46 {
  top: 80px;
  left: 0px;
  width: 422px;
  height: 642.2000122070312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(250, 250, 250, 1);
}
.frame3-div47 {
  top: 0px;
  left: 0px;
  width: 422px;
  height: 642.2000122070312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 32px 32px 0 0;
  background-color: rgba(255, 255, 255, 1);
}
.frame3-div48 {
  top: 16px;
  left: 16px;
  width: 390px;
  height: 610.2000122070312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div49 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 116px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div50 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 84px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div51 {
  top: 0px;
  left: 0px;
  width: 78px;
  height: 84px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div52 {
  top: 8px;
  left: 18.424999237060547px;
  width: 41px;
  height: 68px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div53 {
  top: 20px;
  left: 8.525001525878906px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 24px;
  background-color: rgba(252, 213, 53, 1);
}
.frame3-text51 {
  top: 0.79998779296875px;
  left: 7.662498474121094px;
  color: rgba(24, 26, 32, 1);
  width: 9px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-divafter4 {
  top: 12px;
  left: 32.000003814697266px;
  width: 9999px;
  height: 4px;
  position: absolute;
  border-color: transparent;
}
.frame3-text52 {
  top: 52px;
  color: rgba(30, 35, 41, 1);
  width: 41px;
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-divafter5 {
  top: 40px;
  left: 77.9124984741211px;
  width: 78px;
  height: 4px;
  position: absolute;
  border-color: transparent;
}
.frame3-div54 {
  top: 0px;
  left: 155.85000610351562px;
  width: 78px;
  height: 84px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div55 {
  top: 8px;
  left: 17.587493896484375px;
  width: 43px;
  height: 68px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div56 {
  top: 20px;
  left: 9.362503051757812px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 24px;
  background-color: rgba(252, 213, 53, 1);
}
.frame3-divbefore2 {
  top: 12px;
  left: -10007px;
  width: 9999px;
  height: 4px;
  position: absolute;
  border-color: transparent;
}
.frame3-text54 {
  top: 0.79998779296875px;
  left: 7.662506103515625px;
  color: rgba(24, 26, 32, 1);
  width: 9px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-divafter6 {
  top: 12px;
  left: 32px;
  width: 9999px;
  height: 4px;
  position: absolute;
  border-color: transparent;
}
.frame3-text55 {
  top: 52px;
  color: rgba(30, 35, 41, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-divafter7 {
  top: 40px;
  left: 233.7624969482422px;
  width: 78px;
  height: 4px;
  position: absolute;
  border-color: transparent;
}
.frame3-div57 {
  top: 0px;
  left: 311.70001220703125px;
  width: 78px;
  height: 84px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div58 {
  top: 8px;
  left: 17.61248779296875px;
  width: 43px;
  height: 68px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div59 {
  top: 20px;
  left: 9.337493896484375px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 24px;
  background-color: rgba(234, 236, 239, 1);
}
.frame3-divbefore3 {
  top: 12px;
  left: -10007.0009765625px;
  width: 9999px;
  height: 4px;
  position: absolute;
  border-color: transparent;
}
.frame3-text57 {
  top: 0.79998779296875px;
  left: 7.662506103515625px;
  color: rgba(112, 122, 138, 1);
  width: 9px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-text58 {
  top: 52px;
  color: rgba(112, 122, 138, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-form1 {
  top: 116px;
  left: 0px;
  width: 390px;
  height: 494.20001220703125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-text60 {
  left: 150.71250915527344px;
  color: rgba(0, 0, 0, 1);
  width: 88px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-text62 {
  top: 62.399993896484375px;
  color: rgba(71, 77, 87, 1);
  width: 48px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16.100000381469727px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div60 {
  top: 88.09999084472656px;
  left: 0px;
  width: 390px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  background-color: rgba(250, 250, 250, 1);
}
.frame3-text64 {
  top: 18.800003051757812px;
  left: 56px;
  color: rgba(30, 35, 41, 1);
  width: 156px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div61 {
  top: 160.09999084472656px;
  left: 0px;
  width: 390px;
  height: 246.10000610351562px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div62 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 70.0999984741211px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-text66 {
  top: -1.5999908447265625px;
  color: rgba(71, 77, 87, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16.100000381469727px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div63 {
  top: 24.100006103515625px;
  left: 0px;
  width: 390px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 239, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
.frame3-div64 {
  top: 13px;
  left: 13px;
  width: 49px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-i-m-a-g-e87496d50240843e1ad4c78b47b448a6apng1 {
  top: 2px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: transparent;
}
.frame3-text68 {
  top: 0.8000030517578125px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  width: 25px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div65 {
  top: 110.10000610351562px;
  left: 0px;
  width: 390px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 239, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
.frame3-text70 {
  top: 14.40000057220459px;
  left: 355.375px;
  color: rgba(0, 0, 0, 1);
  width: 25px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-text72 {
  top: -24.600000381469727px;
  left: 1px;
  color: rgba(71, 77, 87, 1);
  width: 50px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div66 {
  top: 198.10000610351562px;
  left: 0px;
  width: 390px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 236, 239, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
.frame3-text74 {
  top: 14.39999771118164px;
  left: 351.9624938964844px;
  color: rgba(0, 0, 0, 1);
  width: 29px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-text76 {
  top: -24.599998474121094px;
  left: 1px;
  color: rgba(71, 77, 87, 1);
  width: 97px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div67 {
  top: 446.20001220703125px;
  left: 0px;
  width: 390px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-button2 {
  top: 0px;
  left: 0px;
  width: 191px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  background-color: rgba(234, 236, 239, 1);
}
.frame3-text78 {
  top: 12.800003051757812px;
  left: 45.01250076293945px;
  color: rgba(30, 35, 41, 1);
  width: 101px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-button3 {
  top: 0px;
  left: 198.8000030517578px;
  width: 191px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  background-color: rgba(252, 213, 53, 0.30000001192092896);
}
.frame3-text80 {
  top: 12.800003051757812px;
  left: 62.40000915527344px;
  color: rgba(24, 26, 32, 0.30000001192092896);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-footer1 {
  top: 210.1999969482422px;
  left: 0px;
  width: 422px;
  height: 463.3999938964844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame3-div68 {
  top: 24px;
  left: 0px;
  width: 422px;
  height: 439.3999938964844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div69 {
  top: 0px;
  left: 0px;
  width: 422px;
  height: 370.3999938964844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div70 {
  top: 0px;
  left: 16px;
  width: 390px;
  height: 212px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div71 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 127.20000457763672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div72 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 42.400001525878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-text82 {
  top: 10.400009155273438px;
  color: rgba(30, 35, 41, 1);
  width: 67px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-svg07 {
  top: 12px;
  left: 371.6000061035156px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.frame3-div73 {
  top: 42.40000915527344px;
  left: 0px;
  width: 390px;
  height: 42.400001525878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-text84 {
  top: 10.399993896484375px;
  color: rgba(30, 35, 41, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-svg08 {
  top: 12px;
  left: 371.6000061035156px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.frame3-div74 {
  top: 84.80000305175781px;
  left: 0px;
  width: 390px;
  height: 42.400001525878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-text86 {
  top: 10.399993896484375px;
  color: rgba(30, 35, 41, 1);
  width: 54px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-svg09 {
  top: 12px;
  left: 371.6000061035156px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.frame3-div75 {
  top: 127.19999694824219px;
  left: 0px;
  width: 390px;
  height: 84.80000305175781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-div76 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 42.400001525878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-text88 {
  top: 10.4000244140625px;
  color: rgba(30, 35, 41, 1);
  width: 59px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-svg10 {
  top: 12px;
  left: 371.6000061035156px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.frame3-div77 {
  top: 42.4000244140625px;
  left: 0px;
  width: 390px;
  height: 42.400001525878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-text90 {
  top: 10.399993896484375px;
  color: rgba(30, 35, 41, 1);
  width: 41px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-svg11 {
  top: 12px;
  left: 371.6000061035156px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.frame3-div78 {
  top: 212.00001525878906px;
  left: 16px;
  width: 390px;
  height: 134.40000915527344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-text92 {
  top: 10.399993896484375px;
  color: rgba(30, 35, 41, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-div79 {
  top: 42.399993896484375px;
  left: 0px;
  width: 390px;
  height: 92px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame3-svg12 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.frame3-svg13 {
  top: 0px;
  left: 54px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.frame3-svg14 {
  top: 0px;
  left: 108px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.frame3-svg15 {
  top: 0px;
  left: 162px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.frame3-svg16 {
  top: 0px;
  left: 216px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.frame3-svg17 {
  top: 0px;
  left: 270px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.frame3-svg18 {
  top: 0px;
  left: 324px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.frame3-svg19 {
  top: 46.000030517578125px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.frame3-svg20 {
  top: 46.000030517578125px;
  left: 54px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.frame3-svg21 {
  top: 46.000030517578125px;
  left: 108px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.frame3-text94 {
  top: 396.20001220703125px;
  left: 161.5500030517578px;
  color: rgba(112, 122, 138, 1);
  width: 99px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame3-divborder {
  top: 370.4000244140625px;
  left: 16px;
  width: 390px;
  height: 69px;
  position: absolute;
}
@media(max-width: 479px) {
  .frame3-textinput {
    width: 296px;
    border-color: rgba(0, 0, 0, 0);
  }
  .frame3-textinput1 {
    width: 346px;
    border-color: rgba(0, 0, 0, 0);
  }
}
